@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
    width: 7.5px;
}

*::-webkit-scrollbar-track {
    background: var('bg-primary dark:bg-dark');
}

*::-webkit-scrollbar-thumb {
    background: #a855f7;
}

*::-webkit-scrollbar-thumb:hover {
    background: #c084fc;
}

* {
    scroll-behavior: smooth;
}

@layer base {
    body {
        @apply font-primary bg-primary dark:bg-dark text-black dark:text-white leading-loose;
    }
    .h1 {
        @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
    }
    .h2 {
        @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
    }
    .h3 {
        @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
    }
}

.no-visible-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
}

.no-visible-scrollbar::-webkit-scrollbar {
    display: none;
}
