@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
    width: 7.5px;
}

*::-webkit-scrollbar-track {
    background: var('bg-primary dark:bg-dark');
}

*::-webkit-scrollbar-thumb {
    background: #a855f7;
}

*::-webkit-scrollbar-thumb:hover {
    background: #c084fc;
}

* {
    scroll-behavior: smooth;
}

@layer base {
    body {
        @apply bg-primary font-primary leading-loose text-black dark:bg-dark dark:text-white;
    }
    .h1 {
        @apply text-[48px] font-semibold leading-[1.1] xl:text-[80px];
    }
    .h2 {
        @apply text-[36px] font-semibold leading-[1.1] xl:text-[48px];
    }
    .h3 {
        @apply text-[20px] font-semibold leading-[1.1] xl:text-[24px];
    }
    .text-outline {
        -webkit-text-stroke: 1px #202020;
    }

    .text-outline-dark {
        -webkit-text-stroke: 1px #ffffff;
    }
}

.no-visible-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
}

.no-visible-scrollbar::-webkit-scrollbar {
    display: none;
}
